sudo: false
cache:
    # See travis-ci/travis-ci#3239
    directories:
      - ~/.cache/pip
language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
env:
    matrix:
      - DJANGO_VERSION=1.7.*
      - DJANGO_VERSION=1.8.*
      - DJANGO_VERSION=1.9b1
matrix:
  exclude:
      - python: 3.3
        env: "DJANGO_VERSION=1.9b1"
      - python: 3.5
        env: "DJANGO_VERSION=1.7.*"
install: 
  - pip install --upgrade pip
  - pip install Django==$DJANGO_VERSION
  - pip install .
before_script:
  - django-admin startproject test_breadcrumbs3
  - cd test_breadcrumbs3
script:
  - python manage.py test breadcrumbs3
branches:
  only:
    - master
